@import "~src/assets/scss/library.scss";

.sideMenu{
    @include sidemenu();
    float:left;
    .menuText{
        height:50vh;
        font-size:2vw;
        color:white;
        cursor:pointer;
        p{
            outline:0;
            border:0;
        }
    }
    img{
        width:35%;
        height:15vh;
    }
}
.content{
    width:80%;
    height:auto;
    float:left;
}
.active{
    color:$black;
}